.footer {
  position: fixed;
  padding: 26px 10px;
  width: 100%;
  bottom: 0;
  background: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p, a {
  color: var(--light-color);
}

.footer img {
  width: 90px;
  float: left;
  flex-direction: column;
}