.navbar-title a {
  color: #000;
}


.navbar {
  position: fixed;
  z-index: 1;
  background: var(--light-color);
  padding: 0 20px;
}

.navbar #dropdown1 form{
  width: 200px;
}

#section-padding ul.indicators li.active {
  background-color: var(--primary-color);
}
