.navbar-title {
  align-items: center;  
  height: 100%;
}

.navbar-title span {
  padding: 10px;
  font-size: 26px;
}

.navbar {
  position: relative;
  z-index: 1;
}

.navbar #dropdown1 form{
  width: 200px;
}