.navbar-title a {
  color: #000;
}


.navbar {
  position: fixed;
  z-index: 1;
  background: var(--light-color);
  padding: 0 20px;
}

header .navbar a {
  color: var(--primary-color);
  font-size: 1.3rem;
}

header .navbar i {
  font-size: 1.3rem;
}

header .sidenav {
  background-color: var(--primary-color);
}

header .sidenav li a {
  color: var(--light-color);
}

header .sidenav li i {
  color: var(--light-color) !important;
}

.navbar #dropdown1 form{
  width: 200px;
}

#section-padding ul.indicators li.active {
  background-color: var(--primary-color);
}
