.nav-wrapper {
  background-color: var(--light-color);
}


nav a.brand-logo{
 color: var(--black-color);
}

.input-search {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.input-search i {
  display: flex;
  width: 40px;
  align-items: center;
  justify-content: center;
}

li .input-field {
  display: flex;
  align-items: center;
  height: 0;
}

.nav-list li a{
  color: var(--black-color);
}

i.material-icons {
  color: var(--primary-color);
}
