.nav-wrapper { 
  background-color: var(--light-color);
}


.navbar-title span{
 color: var(--black-color);
}

.nav-list li a{
  color: var(--black-color);
}

.nav-list a {
  color: var(--primary-color);
}
