.nav-wrapper { 
  background-color: var(--light-color);
}


nav a.brand-logo{
 color: var(--black-color);
}

.nav-list li a{
  color: var(--black-color);
}

.nav-list a {
  color: var(--primary-color);
}

i.icon-primary {
  color: var(--primary-color);
}

ul.sidenav li a i.icon-light {
  color: var(--light-color);
}

ul.sidenav {
  color: var(--light-color);
  background-color: var(--primary-color);
}

ul.sidenav li a {
  color: var(--light-color);
}

.input-field .prefix.active{
  color: var(--black-color) !important;
}